*{
    font-family: 'Source Sans Pro', sans-serif; /*tbc later*/
    box-sizing: border-box;

}

body, html{

    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 16px;
    line-height: var(--line-height);

}

.additional__features {

    
    color: var(--additional-features--color);
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
	width: 100%;


}


.additional__features__box {


    display: flex;
    flex-direction: column;
    padding: 1.5em;
	width: 100%;
    box-shadow: 4px 0px 10px 0px var(--box-shadow-color); 
    box-sizing: border-box;
    border-radius: 4px;

    margin: 16px;
}

@media all and (min-width: 576px) {
    .additional__features__box {
      width: 100%;
      padding: 1.5em;
    }

    .additional__features__title {

        font-size: 2rem;

    }
}

@media all and (min-width: 768px) {
    .additional__features__box {
      width: 100%;
      padding: 1.5em;
    }

    .additional__features__box__title {

        font-size: 2rem;;

    }
}

@media all and (min-width: 992px) {
    .additional__features__box {
      width: 45%;
      padding: 2em;
    }

    .additional__features__box__title {

        font-size: 2.5rem;

    }
}

.additional__features__box__header {

    color: #364954;

    display: flex;
    flex-direction: row;
    align-items: center;
    
   
}

.additional__features__title {

    line-height: 1em;
    display: block;
    margin: 16px;
    font-size: 1.5rem;

    

}

.additional__features__box__body{
    
    color: #364954;
    font-size: 1rem;
    flex: 1 0 5em;

}

.additional___features__box__body__text {

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.additional__features__box__cta {

    
    display: flex;
    justify-content: flex-end;
    
}


.additional__features__box__cta__read__more {

    text-decoration: none !important;
    color: #0098C9;
    font-size: 1rem;
    

}
