* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--font);
}
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* BURGER VISIBLE EVERYWHERE EXCEPT >992px */

.navigation {
    position: fixed;
    top: 0px;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.navigation__burger {
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
}

.navigation__burger__icon {
  width: 24px;  
  height: 24px;

}
.navigation__burger__checkbox {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0%;
}

.navigation__logo {
  display: flex;
  position: absolute;
    padding: 10px;
    height: 50px;
    width: 200px;
  height: 50px;
  width: 200px;
  align-self: flex-end;
}
.navigation__logo__img {
    width: 100%;
    height: 100%;
}
.navigation__menu {
    display: none;
  }

 .navigation__menu__list {
    list-style: none;
  }

  .navigation__burger__checkbox:checked ~ .navigation__menu {
    display: block;
    padding-left: 16px;
  }

  @media screen and (min-width: 768px){
      .navigation {
          width: 100%;
          height: 60px;
          position: fixed;
          
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          background: var(--transparent-color);
          z-index: 5;   
        }

    .navigation__burger__icon {
      display: none;
    }
    .navigation__burger__checkbox {
      display: none;
    }
    .navigation__logo {
        margin: 5px;
        align-self: flex-start;
    }
  
  .navigation__menu {
    list-style-type: none;
    display: flex;
    padding-right: 16px;
    font-size: 1em;
  }

  .navigation__menu__list {
    padding: 10px;
    box-sizing: border-box;
  }


.navigation__menu__list__link{
  color: var(--secondary-color);
  text-decoration: none;
}
}



  
