* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font), Helvetica, sans-serif;
}
.container {
  width: 100%;
  padding: 0 0.75rem 0 0.75rem;
  margin: 0 auto;
  color: var(--font-color);
}
/* Section: NAV */
.navigation {
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 0px 4px rgba(39, 39, 39, 0.2);
  z-index: 5;

  display: flex;
  flex-direction: column;
}
.navigation__burger {
  font-style: normal;
  font-size: 1.2em;
  padding: 10px;
}
.navigation__burger__icon {
  width: 24px;
  height: 24px;
}
.navigation__burger__checkbox {
  position: absolute;
  margin: -100px;
  top: 0px;
  left: 0px;
  opacity: 0%;
}
.navigation__burger__checkbox:checked ~ .navigation__menu {
  display: block;
  padding-left: 2px;
}
.navigation__menu {
  display: none;
}
.navigation__menu__list {
  padding: 10px;
  list-style: none;
}
.navigation__menu__list__link {
  color: var(--secondary-color);
  text-decoration: none;
}
.navigation__menu__list__link:link {
  text-decoration: none;
}
.navigation__menu__list__link:hover {
  text-decoration: underline var(--secondary-color);
}
.navigation__menu__list__link:focus {
  color: var(--secondary-color);
  font-weight: bolder;
}
.navigation__menu__list__link:active {
  color: var(--secondary-color);
  font-weight: 900;
}
.navigation__logo {
  position: absolute;
  height: 50px;
  width: 200px;
  padding: 10px;
  height: 50px;

  display: flex;
  align-self: flex-end;
}
.navigation__logo__img {
  width: 100%;
  height: 100%;
}

/* Section: HERO */
.hero {
  position: relative;
  height: 100vh;
  color: var(--basic-color);
  overflow: hidden;
}
.hero__img {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: none;
  animation: slider 1s ease-in-out;
}
@keyframes slider {
  0% { transform: scale(1.01); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}
.hero__img__1 {
  background-image: url("../image/hero/stay_healthy.jpg");
}
.hero__img__2 {
  background-image: url("../image/hero/stay_happy.jpg");
}
.hero__img__3 {
  background-image: url("../image/hero/stay_clean.jpg");
}
.hero__img.active {
  display: flex;
}
.hero__img__overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--pic--overlay--color);
}
.hero__section {
  margin-top: 65px;
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.hero__title {
  margin: 0px;
  font-size: clamp(3em, 9vw, 10.25em);
  font-weight: 600;
  line-height: 1.2;
}
.hero__subtitle {
  margin: 0px;
  font-size: clamp(1.125em, 2.6vw, 3em);
  font-weight: normal;
}
.hero__subtitle.hero__subtitle--bold {
  font-weight: 600;
}
.hero__slide__arrows {
  position: absolute;
  z-index: 2;
  top: 47%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero__arrow {
  display: none;
}
.hero__arrow:hover {
  color: var(--secondary-color);
  transition: 0.5s ease-out;
}
.hero__arrow:focus {
  outline: none;
}
.hero__slide__dots {
  position: absolute;
  top: 90%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.hero__dot {
  margin: 8px;
  height: 1em;
  width: 1em;
  background-color: var(--transparent-color);
  border-radius: 50%;
  box-shadow: 0px 4px 10px var(--box-shadow-color);
  border: none;
  display: inline-block;
  cursor: pointer;
}
.hero__dot.active {
  background-color: var(--secondary-color);
}
.hero__dot:hover {
  background-color: var(--secondary-color);
  transition: 0.5s ease-out;
}
.hero__dot:focus {
  outline: none;
}

/* Section: FEATURES */
.section__features {
  background: var(--primary-color);
}
.features {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.features__action {
  width: 100%;
  margin: 8px 0;
  padding: 0 16px;

  background: var(--basic-color);
  border-radius: 3px;
  box-shadow: 0px 4px 10px var(--box-shadow-color);
  color: var(--font-color);
  text-align: center;
  cursor: default;
}
.features__action__h {
  margin: 10px;
  font-size: 24px;
}
.features__action__p {
  margin: 16px 0;
  font-size: var(--text-font-size);
  line-height: 1.2;
}
.features__action__img {
  width: 70px;
}
.features__action__img:focus,
.features__action__img:hover {
  animation: pulse 1.3s;
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  60% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  80% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* Section: OUR MISSION */
.section__mission {
  background-color: var(--primary-color);
}
.mission {
  width: 100%;
  max-height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.mission__image {
  width: 92%;
  margin: 16px;
}
.mission__image--img {
  width: 100%;
  height: 150px;

  box-shadow: 0px 4px 10px var(--box-shadow-color);
  border-radius: 3px;
  object-fit: cover;
}
.mission__section {
  width: 100%;
  color: var(--basic-color);
}
.mission__section--h {
  margin: 0;
  padding: 0 24px;
  font-size: var(--med-header-font-size);
}
.mission__section__discription {
  padding: 0 24px;
  font-size: var(--text-font-size);
  line-height: 1.2;
}
.mission__section__discription--hidden {
  display: none;
}
.mission__section__discription-p {
  padding-left: 50%;
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
}
/* Section: ADDITIONAL FEATURES */
.section__additional__features{
   background-color: var(--third-color);
}
.additional__features {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.additional__features__box__header__icon {
  width: 48px;
  height: 48px;
}
.additional__features__box {
  width: 100%;
  margin: 16px;
  padding: 1.5em;

  display: flex;
  flex-direction: column;

  background: var(--basic-color);
  box-shadow: 0px 4px 10px var(--box-shadow-color);
  box-sizing: border-box;
  border-radius: 4px;
}
.additional__features__box__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #364954;
}
.additional__features__title {
  margin: 16px 16px 16px 8px;
  display: block;
  font-size: 1.5rem;
  line-height: 1em;
}
.additional__features__box__body {
  color: #364954;
  font-size: 1rem;
  flex: 1 0 5em;
}
.additional___features__box__body__text {
  margin-left: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.additional__features__box__read__more__trigger {
  float: right;
  padding: 0 0.5em;

  color: #0098c9;
  font-size: 1rem;
  cursor: pointer;
}
.additional__features__box__read__more__checkbox {
  display: none;
}
.additional__features__box__read__more__checkbox
  ~ .additional__features__box__read__more__trigger:before {
  content: "Czytaj więcej";
}
.additional__features__box__read__more__checkbox:checked
  ~ .additional__features__box__read__more__trigger:before {
  content: "Czytaj mniej";
}
.additional__features__box__read__more__checkbox:checked
  ~ .additional___features__box__body__text {
  -webkit-line-clamp: initial;
  -webkit-box-orient: initial;
  overflow: visible;
}
/* Section: OUR WORKS */
.section__ourwork {
  background-color: var(--third-color);
}
.ourwork {
  padding: 5px 0 24px 0;
}
.ourwork__h {
  text-align: left;
  font-size: 1.5em;
  padding-left: 10px;
}
.ourwork__present {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourwork__present__section {
  width: 90%;
  margin: 16px;
  position: relative;
}
.ourwork__present__section__img {
  width: 100%;
  height: 200px;
  object-fit: cover;

  border-radius: 3px;
  box-shadow: 0px 4px 10px var(--box-shadow-color);
  cursor: pointer;
}
.ourwork__present__section__button {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 3.5px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  border-radius: 3px;
  box-shadow: 0px 4px 10px var(--box-shadow-color);
  color: #ffffff;
  opacity: 0;
  cursor: pointer;
  transition: 0.2s 0.1s linear;
}
.ourwork__present__section__button:hover {
  opacity: 1;
  transition: 0.2s 0.1s linear;
}
.ourwork__present__section__button--name {
  width: 100%;
  height: 25%;

  background-color: #0097c971;
  border: #0097c9;
  border-radius: 0 0 3px 3px;
  font-family: var(--font);
  font-size: 1em;
  color: #ffffff;
  letter-spacing: 0.5vw;
  cursor: pointer;
}
.ourwork__present__section__button--name:active {
  border: 2px solid #c0c0c0;
  transition: none;
}
/* Section: OUR TEAM */
.team {
  width: 100%;
}
.team__header {
  padding-left: 10px;
  font-size: 1.5em;
  text-align: left;
}
.team__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.team__card {
  width: 200px;
  margin: 30px auto;
  padding: 4%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;

  text-align: center;
  color: var(--primary-color);
}
.team__card__img__container {
  width: 70%;
  margin: -35% auto 0%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.team__card__img {
  width: 100px;
  height: 100px;
  border-radius: inherit;
  object-fit: cover;
  box-shadow: 0px 4px 10px var(--box-shadow-color);
}
.team__card__header {
  margin: 0;
}
.team__card__name {
  font-size: 1.5em;
}
.team__card__title {
  font-size: 1.2em;
}
.team__card__icons {
  width: 100%;
  margin-top: 16px;

  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}
.team__card__icon__link {
  color: var(--secondary-color);
  text-decoration: none;
}
/* Section: FOOTER */
.footer {
  padding: 1% 3% 0% 3%;
  background-color: var(--primary-color);
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
}
.footer__item {
  width: 100%;
  margin: 4px 0;

  color: var(--transparent-color);
}
.footer__links {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8em;
}
.footer__link {
  color: var(--transparent-color);
  text-decoration: none;
  text-align: center;
}
.footer__link:visited {
  color: var(--transparent-color);
}
.footer__icons {
  width: 100%;
  order: -1;
  display: flex;
  justify-content: space-evenly;
}
.footer__copyright__text {
  font-size: 0.7em;
  text-align: center;
}
/*  MEDIA */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .hero__section {
    padding-right: 70px;
  } 
  .features {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .features__action {
    width: 45.5%;
    min-height: 280px;
    margin: 10px;
  }
  .features__action__h {
    font-size: 2em;
  }
  .additional__features__box {
    width: 100%;
    padding: 1.5em;
  }
  .additional__features__title {
    font-size: 2em;
  }
  .ourwork__present {
    flex-direction: row;
    justify-content: space-between;
  }
  .ourwork__h {
    font-size: 2em;
  }
  .ourwork__present__section {
    flex: 1 0 25%;
  }
  .team__header{
    font-size: 2em;
  }
  .footer__item{
    width: 33.33%;
    order: 0;
    align-items: center;
  }
  .footer__icons{
    width: 33.33%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .navigation {
    width: 100%;
    height: 60px;
    position: fixed;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: var(--transparent-color);
    z-index: 5;
  }
  .navigation__burger__icon {
    display: none;
  }
  .navigation__burger__checkbox {
    display: none;
  }
  .navigation__logo {
    margin: 5px;
    align-self: flex-start;
  }
  .navigation__menu {
    padding-right: 16px;
    display: flex;
    list-style-type: none;
    font-size: 1em;
  }
  .navigation__menu__list {
    padding: 10px;
    box-sizing: border-box;
  }
  .hero__arrow {
    margin: 15px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: var(--transparent-color);
    background-color: transparent;
    font-size: clamp(5em, 6vw, 8em);
    font-weight: 200;
    text-shadow: 0px 4px 10px var(--box-shadow-color);
  }
  .additional__features__box {
    width: 100%;
    padding: 1.5em;
  }
  .additional__features__title {
    font-size: 2rem;
  }
  .mission {
    flex-direction: row;
  }
  .mission__image {
    width: 50%;
  }
  .mission__image--img {
    width: 100%;
    min-height: 450px;
  }
  .mission__section__discription--hidden {
    display: inline-block;
  }
  .mission__section {
    width: 50%;
    padding: 0;
  }
  .mission__section--h {
    margin: 16px 0;
    font-size: 2em;
  }
  .team__container {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .features__action {
    height: 230px !important;
    flex: 1 0 20%;
  }
  .additional__features__box {
    width: 46%;
    padding: 2em;
  }
  .additional__features__title {
    font-size: 2rem;
  }
  .additional__features__box__header__icon {
    width: 64px;
    height: 64px;
  }
  .mission__image {
    width: 50%;
  }
  .team__container {
    width: 100%;
  }
  .footer__links {
    justify-content: flex-start;
  }
  .footer__link {
    width: 45%;
    padding: 0% 5% 0% 0%;
  }
  .footer__icons {
    justify-content: space-around;
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .hero__section {
    padding-right: 100px;
  }
  .features__action__img {
    width: 80px;
  }
  .team__header {
    margin: 2.5% auto;
    text-align: left;
    font-size: 2em;
  }
  .team__card {
    width: 20%;
    margin: 5% auto;
    padding: 32px 32px 16px 32px;
  }
  .team__card__img__container {
    margin: -40% auto 0%;
  }
  .team__card__name {
    font-size: 1.5rem;
  }
  .team__card__title {
    font-size: 1rem;
  }
  .team__card__icons {
    font-size: 2rem;
  }
}
