*{
    font-family: 'Source Sans Pro', sans-serif; /*tbc later*/
    box-sizing: border-box;

}

body, html{
    width: 100%;
    height: 100%;
    font-size: 16px;

}



.container {

    background-color: #ededed;

}

.additional-features {

    padding: 24px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


    /* grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 2vw;
    grid-template-areas: "box" "box" "box" "box" "box" "box" "box" "box"; */

}


.box {

    display: grid;
    max-width: 45%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.2fr; 
    grid-template-areas: "header_and_icon" "body_txt" "cta";
    

    background-color: #ededed;
    box-sizing: border-box;
    border-radius: 4px;

    margin: 15px;

}


.header_and_icon {

    color: #364954;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    margin-top: 16px;
    grid-area: header_and_icon;
    align-items: center;

}

.body_txt {
    
    color: #364954;
    font-size: 1 rem;
    margin-left: 32px;
    margin-right: 32px;
    grid-area: body_txt;

}


.cta {

    color: #0098C9;
    font-size: 1 rem;

    margin-right: 32px;
    
    display: flex;
    justify-content: flex-end;

    grid-area: cta;
}

