*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}

/* Właściwy kod sekcji FEARTURES */
.features{
    padding: 24px;
    background: var(--primary-color);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 2vw;
    justify-items: center;
    grid-template-areas: 
    "action-1 action-2 action-3 action-4";
}
.features__action{
    width: 22vw;
    padding: 10px;
    border-radius: 3px;
    background: var(--secondary-color);
    color: var(--font-color);
    text-align: center;
    cursor: default;
}
.features__action:hover{
    transform: scale3d(1.02, 1.02, 1.02);
}

.action__h{
    margin: 10px;
    font-size: 2vw;
}
.action__p{
    font-size: 1.6vw;
}
.action__img{
    width: 8vw;
    animation: pulse 1.3s 1s;
}
@keyframes pulse{
    from{
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    20%{
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }
    40%{
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50%{
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    60%{
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    80%{
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to{
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* grid area*/
.action__1{
    grid-area: action-1;
}
.action__2{
    grid-area: action-2;
}
.action__3{
    grid-area: action-3;
}
.action__4{
    grid-area: action-4;
}

/* responsywność */
@media screen and (max-width: 600px){
    .features{  
        padding: 16px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 4vw;
        grid-template-areas: 
        "action-1 action-2"
        "action-3 action-4";
        }
    .features__action{
        width: 44vw;
        
    }
    .action__h{
        font-size: 4vw;
    }
    .action__p{
        font-size: 2.5vw;
        line-height: 4vw;
    }  
    .action__img{
        width: 11vw;
    }
      
}

@media screen and (max-width: 360px){
    .features{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    .features__action{
        width: 88vw;
        margin: 16px 0;
        padding: 5px 10px;
    }
    .action__h{
        font-size: 7vw;
    }
    .action__p{
        font-size: 4vw;
        line-height: 5.5vw;
    }
    .action__img{
        width: 18vw;
    }
}