html{

    --primary-color: #364954;
    --secondary-color: #ffffff; 
    --log-color:  #0098c9;

    --font-color: #364954;

    --link-color: #0098c9;

    --nav-color: rgba(255, 255, 255, 0.7);
    --footer-text: rgba(255, 255, 255, 0.7);
}