html, body {
     margin: 0;
     padding: 0;
}
.canvas {
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.game__box {
     position: relative;
     width: 100vw;
     height: 520px;
     background-size: cover;
}
.button-start {
     position: absolute;
     bottom: 50px;
     right: 50px;
     width: 150px;
     height: 50px;

     font-size: 1.5em;
}
.game__box--badfood {
     position: absolute;
     width: 45px;
     height: 38px;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}
.game__box--goodfood {
     position: absolute;
     width: 45px;
     height: 38px;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}
.hidden-food {
     display: none;
}
.human {
     position: absolute;
     right: .1vw;
     width: 53px;
     height: 125px;
     background-image: url(./game_image/ludek2.svg);
     background-size: cover;
     z-index: 2;
}

.human.active  {
     position: absolute;
     right: .1vw;
     width: 53px;
     height: 125px;
     background-image: url(./game_image/ludek-1.svg);
     background-size: cover;
     z-index: 2;
}